# Secrets
.env
backend/.env
frontend/.env

# Python/Django
__pycache__/
*.pyc
db.sqlite3
backend/venv/
backend/env/

# React/Vite/Node
node_modules/
frontend/dist/
frontend/node_modules/

# OS Files
.DS_Store