# Secrets
.env
server/.env
client/.env

# Python/Django
__pycache__/
*.pyc
db.sqlite3
server/venv/
server/env/

# React/Vite/Node
node_modules/
frontend/dist/
frontend/node_modules/

# OS Files
.DS_Store